<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.networking.networkextension</key>
	<array>
		<string>packet-tunnel-provider</string>
	</array>
	<key>com.apple.developer.web-browser</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.kahfbrowser.alpha.bookmarks</string>
		<string>group.com.kahfbrowser.alpha.contentblocker</string>
		<string>group.com.kahfbrowser.alpha.database</string>
		<string>group.com.kahfbrowser.alpha.netp</string>
		<string>group.com.kahfbrowser.alpha.statistics</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(APP_ID)</string>
		<string>$(AppIdentifierPrefix)$(SUBSCRIPTION_APP_GROUP)</string>
	</array>
</dict>
</plist>
